#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#portfolio
{
display: flex;
}
a:hover {
  background-color: white;
}

.main header {
  background-image: url(./assets/backroundbricks.jpg);
  background-size: cover;
}
.main {
  background-color: #3A5683;
}

li {
  display: inline;
}

li a {
  padding: 0px 77px;
}

.aboutme-container {
  display: block;
  text-align: justify;
}

.contact-container {
  display: block;
  text-align: justify;
  
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width:53%;
}

img{
  width:35%;
  height:auto;
  
}

.portfolio-container {
  display:grid;
  padding:20px;
  grid-template-columns: repeat(2,1fr);
 

}
.card-images{
  width:300px;

}
.card-images:hover{
  transform:scale(1.05);

}


.resume-container {
  display: block;
  text-align: justify;

}


