
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

 


h2 {
    font-family: 'Playfair Display', serif;
  }
  html, body {
   font-family: 'DM Sans', sans-serif;
   height: 100%;
   margin: 0;
   padding: 0;
   background: #0f172a;
}

@keyframes marquee {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}
